<h1><%= @article.title %></h1>

<div class="button">
  <p><%= link_to "Edit this article", edit_article_path(params[:id]) %></p>
</div>

<div class="button">
  <p><%= link_to "Delete this article", edit_article_path(params[:id]) %></p>
</div>

<div class="container">
  <p><%= @article.content %></p>
</div>

<hr class="line"></hr>
